.card {
  width: 100%; /* Ahora ocupa el 100% del ancho del contenedor */
  height: 60vh;
  display: flex;
  flex-direction: column;
  border-radius: 5vh;
  overflow: hidden;
  flex-shrink: 0;
  border: 0.5vh solid var(--color-cpa);
  background-color: aqua;
}

body.dark .card {
  border-color: var(--color-dpa);
}

.card-top {
  height: 42vh;
  background-color: black;
  width: 100%;
}

.card-top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-bottom {
  height: 18vh;
  width: 100%;
  background-color: brown;
  display: flex;
  flex-direction: row;
}

body.dark .title {
  color: var(--color-gpwl);
}

.title {
  height: 100%;
  width: 80%;
  margin-left: 2vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: 1.3vh;
  font-family: 'mt', sans-serif;
}

.title h3 {
  font-size: 3.5vh;
  font-family: 'mm', 'sans-serif';
  margin-bottom: 2vh;
}

.title p {
  font-size: 2.5vh;
  margin-right: 1.5vh;
  background-color: aqua;
  font-family: 'mt', 'sans-serif';
  margin-top: 0;
}

.line {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line button {
  display: inline-block;
  height: 40%;
  width: 80%;
  border: none;
  border-radius: 2.5vh;
  cursor: pointer;
  font-size: 2vh;
  color: none;
  background: none;
  outline: none;
  margin-bottom: -6vh;
  margin-right: 1vh;
  transition: all 0.05s ease;
}

.line button img {
  width: 6.5vh;
  height: 6.5vh;
  align-items: center;
  justify-content: center;
  margin-top: 0.5vh;
}

.line button:active {
  box-shadow: 0 3vh var(--color-cps);
  transform: translateY(0.66vh);
}

body:not(.dark) .line button {
  background-color: var(--color-cpa);
  box-shadow: 0 1vh var(--color-cps);
}

body.dark .line button {
  background-color: var(--color-dpa);
  box-shadow: 0 1vh var(--color-dps);
}

body.dark .line button:active {
  box-shadow: 0 0.33vh var(--color-dps); /* Sombra reducida */
}

body:not(.dark) .line button:active {
  box-shadow: 0 0.33vh var(--color-cps);
}
