  .topnav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    position: relative;
  }
  
  .logo {
    position: relative;
    width: 80px;
    height: 80px;
    margin-left: 20px;
    margin-right: auto;
  }

  .nav-links {
    display: flex;
    gap: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .nav-link {
    color: var(--color-gpbl);
    text-decoration: none;
    font-size: 36px;
    font-family: 'mt', sans-serif;
    transition: color 0.3s ease;
  }
  
  .button {
    display: inline-block;
    padding: 15px 20px;
    font-size: 20px;
    font-family: 'mt', sans-serif;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-left: 100px;
    margin-right: 20px;
    transition: all 0.1s ease;
  }
  
  .button:active {
    box-shadow: 0 2px var(--color-cps);
    transform: translateY(4px);
  }
  
  body:not(.dark) .button {
    background-color: var(--color-cpa);
    box-shadow: 0 6px var(--color-cps);
  }

  body.dark .button {
    background-color: var(--color-dpa);
    box-shadow: 0 6px var(--color-dps);
  }
  
  body.dark .button:active {
    box-shadow: 0 2px var(--color-dps); /* Sombra reducida */
  }
  
  body:not(.dark) .button:active {
    box-shadow: 0 2px var(--color-cps);
  }
  
  #change-palette {
    min-width: 225px;
  }

  .language-button {
    width: 52px; /* Tamaño del botón */
    height: 50px; /* Tamaño del botón */
    border-radius: 50%; /* Hace el botón circular */
    margin-right: -60px; /* Espacio a la derecha del botón */
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    overflow: hidden; /* Asegura que la imagen no se salga del botón */
}

.language-button img {
    width: 40px; /* Tamaño de la imagen */
    height: 40px; /* Tamaño de la imagen */
    transition: transform 0.3s ease; /* Animación al hacer clic */
}

/* Estilos para el tema claro */
body:not(.dark) .language-button {
    background-color: var(--color-cpa);
    box-shadow: 0 6px var(--color-cps);
}

/* Estilos para el tema oscuro */
body.dark .language-button {
    background-color: var(--color-dpa);
    box-shadow: 0 6px var(--color-dps);
}

/* Efecto de "hundimiento" en el tema claro */
body:not(.dark) .language-button:active {
    box-shadow: 0 2px var(--color-cps);
}

/* Efecto de "hundimiento" en el tema oscuro */
body.dark .language-button:active {
    box-shadow: 0 2px var(--color-dps);
}