  .topnav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5vh 2vw;
    position: relative;
  }
  
  .logo {
    position: relative;
    width: 5.5vw;
    height: 8vh;
    margin-left: -1vh;
    margin-right: auto;
  }

  .nav-links {
    display: flex;
    gap: 5vw;
    position: absolute;
    left: 49%;
    margin-top: 2vh;
    transform: translateX(-50%);
  }
  
  .nav-link {
    color: var(--color-gpbl);
    text-decoration: none;
    font-size: 5vh;
    font-family: 'mt', sans-serif;
    transition: all 0.2s ease;
  }
  
  .button {
    display: inline-block;
    padding: 2vh 2vw;
    font-size: 1.1vw;
    font-family: 'mt', sans-serif;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 5vh;
    margin-left: 12vh;
    margin-right: 2vh;
    transition: all 0.05s ease;
  }
  
  .button:active {
    box-shadow: 0 3vh var(--color-cps);
    transform: translateY(0.66vh);
  }
  
  /* Estilos para el tema claro */
body:not(.dark) .button {
  background-color: var(--color-cpa);
  box-shadow: 0 1vh var(--color-cps);
}

/* Estilos para el tema oscuro */
body.dark .button {
  background-color: var(--color-dpa);
  box-shadow: 0 1vh var(--color-dps);
}

/* Efecto de "hundimiento" en el tema claro */
body:not(.dark) .button:active {
  box-shadow: 0 0.33vh var(--color-cps);
}

/* Efecto de "hundimiento" en el tema oscuro */
body.dark .button:active {
  box-shadow: 0 0.33vh var(--color-dps);
}
  
  #change-palette {
    min-width: 30vh;
  }

  .language-button {
    width: 7.5vh; /* Tamaño del botón */
    height: 7.5vh; /* Tamaño del botón */
    border-radius: 50%; /* Hace el botón circular */
    margin-right: -7.5vh; /* Espacio a la derecha del botón */
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    overflow: hidden; /* Asegura que la imagen no se salga del botón */
}

.language-button img {
    width: 6vh; /* Tamaño de la imagen */
    height: 6vh; /* Tamaño de la imagen */
    transition: transform 0.05s ease; /* Animación al hacer clic */
}

/* Estilos para el tema claro */
body:not(.dark) .language-button {
    background-color: var(--color-cpa);
    box-shadow: 0 1vh var(--color-cps);
}

/* Estilos para el tema oscuro */
body.dark .language-button {
    background-color: var(--color-dpa);
    box-shadow: 0 1vh var(--color-dps);
}

/* Efecto de "hundimiento" en el tema claro */
body:not(.dark) .language-button:active {
    box-shadow: 0 0.33vh var(--color-cps);
}

/* Efecto de "hundimiento" en el tema oscuro */
body.dark .language-button:active {
    box-shadow: 0 0.33vh var(--color-dps);
}