.follow-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    bottom: -6vh;
    left: 5vh;
    transform: rotate(-90deg);
    transform-origin: left top;
    right: auto;
  }
  
  .socials-icons {
    display: flex;
    align-items: center;
    gap: 3vh;
  }
  
  .socials-text {
    min-width: 56.5vh;
    font-size: 3.75vh;
    font-family: 'mt', 'sans-serif';
    white-space: nowrap;
    color: var(--color-gpbl); /* Texto oscuro por defecto */
    transition: color 0.2s ease; /* Transición suave */
  }

  body:not(.dark) .socials-text {
    transition: color 0.2s ease; /* Transición suave */
  }

  body.dark .socials-text {
    color: var(--color-gpwl); /* Texto claro en modo oscuro */
    color: var(--color-gpbl); /* Texto oscuro por defecto */
    transition: color 0.2s ease; /* Transición suave */
  }
  
  .social-icon {
    height: 6vh;
    width: 6vh;
  }
  
  #copy {
    font-size: 2vh;
    font-family: 'mm', sans-serif;
    white-space: nowrap;
  }
  
  #copy::before {
    content: "©";
    color: var(--color-dpa);
    margin-right: 1vh;
    font-size: 3.5vh;
    font-weight: bold;
  }
  
  body:not(.dark) #copy::before {
    color: var(--color-cpa);
  }