.follow-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    bottom: -40px;
    left: 30px;
    gap: 20px;
    transform: rotate(-90deg);
    transform-origin: left top;
    right: auto;
  }
  
  .socials-icons {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .socials-text {
    min-width: 450px;
    font-size: 30px;
    font-family: 'mt', 'sans-serif';
    white-space: nowrap;
    color: var(--color-gpbl); /* Texto oscuro por defecto */
    transition: color 0.3s ease; /* Transición suave */
  }

  body:not(.dark) .socials-text {
    transition: color 0.3s ease; /* Transición suave */
  }

  body.dark .socials-text {
    color: var(--color-gpwl); /* Texto claro en modo oscuro */
    color: var(--color-gpbl); /* Texto oscuro por defecto */
    transition: color 0.3s ease; /* Transición suave */
  }
  
  .social-icon {
    height: 45px;
    width: 45px;
  }
  
  #copy {
    font-size: 15px;
    font-family: 'mm', sans-serif;
    white-space: nowrap;
    margin-top: 10px;
  }
  
  #copy::before {
    content: "©";
    color: var(--color-dpa);
    margin-right: 5px;
    font-size: 25px;
    font-weight: bold;
  }
  
  body:not(.dark) #copy::before {
    color: var(--color-cpa);
  }