:root {
  --color-p1w: #d3d8da;
  --color-p1n: #000000;		

  --color-p2bl: #292c36;
  --color-p2w: #f8f7fa;

  --color-p3br: #3b3632;
  --color-p3w: #fafcff;

  --color-p4bl: #042c39;
  --color-p4y: #f6c55c;
}

@font-face {
  font-family: 'Aquire';
  src: url('./assets/fonts/aquire.otf') format('opentype');
}

@font-face {
  font-family: 'Qurova';
  src: url('./assets/fonts/qurova.otf') format('opentype');
}

body {
  font-family: 'Qurova', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--color-p1w);
  color: var(--color-p1n);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
  text-align: center;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px; /* Ajusta el tamaño según necesites */
}

.welcome-text {
  font-size: 2.5em;
  margin-top: 20px;
}

.w-letter {
  font-family: 'Aquire', sans-serif;
  font-size: 1.2em;
  color: inherit;
}

.blinking-cursor {
  animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
  to {
      visibility: hidden;
  }
}

.start-section {
  margin-top: 20px;
}

.start-button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: var(--color-p4bl);
  color: var(--color-p4y);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.start-button:hover {
  background-color: var(--color-p4y);
  color: var(--color-p4bl);
}

.color-palettes {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.palette {
  cursor: pointer;
}

.color-box {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* Estilos para las paletas de colores */
body.palette1 {
  background-color: var(--color-p1w);
  color: var(--color-p1n);
}

body.palette2 {
  background-color: var(--color-p1n);
  color: var(--color-p1w);
}

body.palette3 {
  background-color: var(--color-p2bl);
  color: var(--color-p2w);
}

body.palette4 {
  background-color: var(--color-p3br);
  color: var(--color-p3w);
}

body.palette5 {
  background-color: var(--color-p4bl);
  color: var(--color-p4y);
}