.rl-container {
  width: 45%;
  display: flex;
  flex-direction: column;
  margin: 10px 0px 0px 0px;
  padding: 10px;
}

.coming-soon-container {
  font-family: 'mm', sans-serif;
  font-size: 80px;
  margin-top: 10px;
  color: var(--color-gpbl);
  transition: all 0.2s ease;
}

.tech-details-container{
  font-family: 'mt', sans-serif;
  font-size: 20px;
  margin-top: 10px;
  text-align: justify;
  color: var(--color-gpbl);
  transition: all 0.2s ease;
}

.rr-container {
  flex: 1; /* Ocupa el resto del espacio disponible */
  display: flex;
  margin-top: 10px;
  flex-direction: column;
}

.image-container {
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.image-scroll-container {
  width: 700px; /* Ancho fijo del contenedor de imágenes */
  height: 600px; /* Alto fijo */
  position: relative; /* Necesario para superponer las imágenes */
  overflow: hidden; /* Oculta el contenido que se desborda */
}

.image-content {
  position: absolute; /* Superpone las imágenes */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0; /* Oculta todas las imágenes por defecto */
  transition: all 0.2s ease; /* Transición suave para el efecto de desvanecimiento */
}

.image-content.active {
  opacity: 1; /* Muestra solo la imagen activa */
}

/* Efecto hover para las flechas */
.arrow-container:hover .arrow-icon {
  transform: scale(1.2); /* Aumenta el tamaño de la flecha */
}

.arrow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background: none;
  }

.arrow-icon {
  width: 60px;
  height: 60px;
  transition: all 0.2s ease; /* Transición suave para el cambio de tamaño */
}

.left-arrow {
  transform-origin: center;
  transform: rotate(180deg);
  border: none;
}

.right-arrow {
  border: none;
}

.image-content img {
  width: 100%; /* La imagen ocupa el 100% del ancho del contenedor */
  height: 100%; /* La imagen ocupa el 100% del alto del contenedor */
  object-fit: cover; /* Ajusta la imagen manteniendo su relación de aspecto y cubriendo el contenedor */
}

.content-container {
  height: 15%;
}

.content-container {
  height: 25%;
  display: flex;
  align-items: center; /* Centra verticalmente los botones */
  justify-content: center; /* Centra horizontalmente los botones */
  gap: 20px; /* Espacio entre los botones */
}

.circle-button {
  width: 32px; /* Ancho del botón */
  height: 32px; /* Alto del botón */
  border-radius: 50%; /* Hace que el botón sea circular */
  border: none; /* Elimina el borde predeterminado */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: all 0.2s ease; /* Transición suave para el cambio de color y tamaño */
}

/* Cambiar el color de los botones en modo oscuro */
body.dark .circle-button {
  background-color: var(--color-gpbl); /* Color negro en modo oscuro */
}

/* Cambiar el color de los botones en modo claro */
body:not(.dark) .circle-button {
  background-color: var(--color-gpbl); /* Color negro en modo claro */
}

/* Efecto hover para el tema claro */
body:not(.dark) .circle-button:hover {
  background-color: var(--color-cpa); /* Color rosado en hover (tema claro) */
  width: 50px; /* Ancho aumentado en hover */
  height: 50px; /* Alto aumentado en hover */
}

/* Efecto hover para el tema oscuro */
body.dark .circle-button:hover {
  background-color: var(--color-dpa); /* Color amarillo en hover (tema oscuro) */
  width: 50px; /* Ancho aumentado en hover */
  height: 50px; /* Alto aumentado en hover */
}

/* Estilos para el botón activo en tema claro */
body:not(.dark) .circle-button.active {
  background-color: var(--color-cpa); /* Color rosado en tema claro */
  width: 50px; /* Ancho aumentado */
  height: 50px; /* Alto aumentado */
}

/* Estilos para el botón activo en tema oscuro */
body.dark .circle-button.active {
  background-color: var(--color-dpa); /* Color amarillo en tema oscuro */
  width: 50px; /* Ancho aumentado */
  height: 50px; /* Alto aumentado */
}