---
import Prjcts from "../components/prjcts.astro";
import Upcoming from "../components/upcoming.astro";
import About from "../components/about.astro";
import Header from "../layouts/header.astro";
import Social from "../layouts/social.astro";
---

<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <link id="title-favicon" rel="icon" href="/img/faviconb.svg" type="image/svg+xml">
    <link rel="stylesheet" href="./src/styles/global.css">
    <link rel="stylesheet" href="./src/styles/upcoming.css">
    <meta charset="UTF-8">
  </head>
  <body>
    <div class="main-layout">
      <!-- Contenedor superior -->
      <div class="top-container">
        <Header />
      </div>

      <!-- Contenedor inferior -->
      <div class="bottom-container">
        <!-- Contenedor inferior izquierdo -->
        <div class="left-container">
          <Social />
        </div>
        <!-- Contenedor inferior derecho -->
        <div class="right-container">
          <About />
        </div>
      </div>
    </div>
  </body>
</html>