<head>
    <link rel="stylesheet" href="/src/styles/about.css">
    <script type="module" src="/src/styles/translations/translations.js" defer></script>
</head>
<div class="top-about">
    <div class="left-about">
        <div class="lt-about">
            <div class="img-about">
                <img src="me.jpg" alt="pfp" />
            </div>
            <div class="info-about">
                <h2 data-translate="nameInfo">N/A</h2>
                <h3>ALEJANDRO RODRIGUEZ RODRIGUEZ, 22</h3>
                <h2 data-translate="occInfo">N/A</h2>
                <h3 data-translate="occupation">N/A</h3>
            </div>
        </div>
        <div class="bl-about">
            <div class="desc1-about">

            </div>
            <div class="desc2-about">
            
            </div>
        </div>
    </div>
    <div class="right-about">
        <div class="mr">
            <div class="pers-about" data-translate="moreP">N/A</div>
            <div class="more-about">
                <div class="more1">
                    <img src="" alt="img" />
                </div>
                <div class="more1">
                    <img src="" alt="img" />
                </div>
                <div class="more1">
                    <img src="" alt="img" />
                </div>
                <div class="more1">
                    <img src="" alt="img" />
                </div>
            </div>
            <div class="text-about">
                <div class="text1-about" data-translate="mrabt1">
                    
                </div>
                <div class="text1-about" data-translate="mrabt2">
                    
                </div>
                <div class="text1-about" data-translate="mrabt3">
                    
                </div>
                <div class="text1-about" data-translate="mrabt4">
                    
                </div>
            </div>
        </div>
        <div class="cr-about">
            <div class="cr-left">

            </div>
            <div class="cr-right">

            </div>
        </div>
        <div class="docs-about">
        </div>
    </div>
</div>