<head>
    <link rel="stylesheet" href="/src/styles/about.css">
    <script type="module" src="/src/styles/translations/translations.js" defer></script>
    <script type="module" src="/src/pages/api/abt.js" defer></script>
</head>
<div class="top-about">
    <div class="left-about">
        <div class="lt-about">
            <div class="img-about">
                <img src="/src/assets/img/me.svg" alt="pfp" />
            </div>
            <div class="info-about">
                <h2 data-translate="nameInfo">N/A</h2>
                <h3>Alejandro Rodriguez Rodriguez, 22</h3>
                <span>
                    <h2 data-translate="occInfo">N/A</h2>
                    <h3 data-translate="occupation">N/A</h3>
                </span>
            </div>
        </div>
        <div class="bl-about">
            <div class="desc1-about">
                <h2 data-translate="specInfo" id="spec">N/A</h2>
                <h3 data-translate="spec">N/A</h3>
                <h2 data-translate="hsInfo">N/A</h2>
                <ul>
                    <li class="li">
                        <h3 data-translate="hs1">N/A</h3>
                        <img id="sp" src="/src/assets/img/starfc.svg">
                        <img src="/src/assets/img/starfc.svg">
                        <img src="/src/assets/img/starfc.svg">
                        <img src="/src/assets/img/starnfc.svg">
                        <img src="/src/assets/img/starnfc.svg">
                        <span id="sp" data-translate="adv">N/A</span>
                    </li>
                    <li class="li">
                        <h3 data-translate="hs2">N/A</h3>
                        <img id="sp" src="/src/assets/img/starfc.svg">
                        <img src="/src/assets/img/starfc.svg">
                        <img src="/src/assets/img/starfc.svg">
                        <img src="/src/assets/img/starnfc.svg">
                        <img src="/src/assets/img/starnfc.svg">
                        <span id="sp" data-translate="adv">N/A</span>
                    </li>
                    <li class="li">
                        <h3 data-translate="hs3">N/A</h3>
                        <img id="sp" src="/src/assets/img/starfc.svg">
                        <img src="/src/assets/img/starfc.svg">
                        <img src="/src/assets/img/starnfc.svg">
                        <img src="/src/assets/img/starnfc.svg">
                        <img src="/src/assets/img/starnfc.svg">
                        <span id="sp" data-translate="basic">N/A</span>
                    </li>
                    <li class="li">
                        <h3 data-translate="hs4">N/A</h3>
                        <img id="sp" src="/src/assets/img/starfc.svg">
                        <img src="/src/assets/img/starfc.svg">
                        <img src="/src/assets/img/starnfc.svg">
                        <img src="/src/assets/img/starnfc.svg">
                        <img src="/src/assets/img/starnfc.svg">
                        <span id="sp" data-translate="basic">N/A</span>
                    </li>
                </ul>
                <h2 data-translate="ssInfo" id="ss">N/A</h2>
                <ul>
                    <li class="li">
                        <h3 data-translate="ss1">N/A</h3>
                        <img id="sp" src="/src/assets/img/starfc.svg">
                        <img src="/src/assets/img/starfc.svg">
                        <img src="/src/assets/img/starfc.svg">
                        <img src="/src/assets/img/starfc.svg">
                        <img src="/src/assets/img/starnfc.svg">
                    </li>
                    <li class="li">
                        <h3 data-translate="ss2">N/A</h3>
                        <img id="sp" src="/src/assets/img/starfc.svg">
                        <img src="/src/assets/img/starfc.svg">
                        <img src="/src/assets/img/starfc.svg">
                        <img src="/src/assets/img/starfc.svg">
                        <img src="/src/assets/img/starnfc.svg">
                    </li>
                    <li class="li">
                        <h3 data-translate="ss3">N/A</h3>
                        <img id="sp" src="/src/assets/img/starfc.svg">
                        <img src="/src/assets/img/starfc.svg">
                        <img src="/src/assets/img/starfc.svg">
                        <img src="/src/assets/img/starnfc.svg">
                        <img src="/src/assets/img/starnfc.svg">
                    </li>
                    <li class="li">
                        <h3 data-translate="ss4">N/A</h3>
                        <img id="sp" src="/src/assets/img/starfc.svg">
                        <img src="/src/assets/img/starfc.svg">
                        <img src="/src/assets/img/starfc.svg">
                        <img src="/src/assets/img/starfc.svg">
                        <img src="/src/assets/img/starnfc.svg">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="right-about">
        <div class="cr-about">
            <div class="cr-left">
                <h2 data-translate="langInfo">N/A</h2>
                <ul>
                    <li><h3 data-translate="lang1">N/A</h3></li>
                    <li><h3 data-translate="lang2">N/A</h3></li>
                </ul>
                <h2 data-translate="nxtInfo">N/A</h2>
                <ul>
                    <li><h3 data-translate="nxt1">N/A</h3></li>
                    <li><h3 data-translate="nxt2">N/A</h3></li>
                    <li><h3 data-translate="nxt3">N/A</h3></li>
                    <li><h3 data-translate="nxt4">N/A</h3></li>
                    <li><h3 data-translate="nxt5">N/A</h3></li>
                </ul>
            </div>
        </div>
        <div class="mr">
            <div class="content-mr">
                <h2 class="pers-about" data-translate="moreP">N/A</h2>
                <div class="more-about">
                    <div class="more1">
                        <img src="/src/assets/img/music.svg" alt="img" />
                    </div>
                    <div class="more1">
                        <img src="/src/assets/img/draw.svg" alt="img" />
                    </div>
                    <div class="more1">
                        <img src="/src/assets/img/met.svg" alt="img" />
                    </div>
                    <div class="more1">
                        <img id="know" src="/src/assets/img/kn.svg" alt="img" />
                    </div>
                    <div class="more1">
                        <img id="eco" src="/src/assets/img/eco.svg" alt="img" />
                    </div>
                </div>
                <div class="text-about">
                    <div class="text1-about" data-translate="mrabt1">N/A</div>
                    <div class="text1-about" data-translate="mrabt2">N/A</div>
                    <div class="text1-about" data-translate="mrabt3">N/A</div>
                    <div class="text1-about" data-translate="mrabt4">N/A</div>
                    <div class="text1-about" data-translate="mrabt5">N/A</div>
                </div>
            </div>
        </div>
        <div class="docs-about">
            <h2 data-translate="docstxt">N/A</h2>
            <div class="docs-content">
                <div class="content1">
                    <h3 id="n1">Curriculum Vitae</h3>
                    <button id="n1">
                        <img src="/src/assets/img/nwc.svg" alt="img">
                    </button>
                </div>
                <div class="content1">
                        <h3 id="n2">DOC 2</h3>
                        <button id="n2">
                            <img src="/src/assets/img/nwc.svg" alt="img">
                        </button>
                </div>
                <div class="content1">
                        <h3 id="n3">DOC 3</h3>
                        <button id="n3">
                            <img src="/src/assets/img/nwc.svg" alt="img">
                        </button>
                </div>
            </div>
        </div>
    </div>
</div>