<link rel="stylesheet" href="./src/styles/social.css"/>
<div class="follow-container">
    <div class="socials-icons">
        <div class="socials-text">FOLLOW ME ON MY SOCIALS<br><span id="copy">2025 ALEJANDRO RODRÍGUEZ RODRÍGUEZ</span></div>
        <a href="https://www.linkedin.com/in/alejandro-rodriguez-b49932343/" target="_blank">
            <img src="./src/assets/linkedin.svg" alt="LinkedIn" class="social-icon" /></a>
        <a href="https://www.instagram.com/alerodri_7/" target="_blank">
            <img src="./src/assets/instagram.svg" alt="Instagram" class="social-icon" /></a>
        <a href="https://github.com/alerodrod8" target="_blank">
            <img src="./src/assets/github.svg" alt="GitHub" class="social-icon" /></a>
    </div>
</div>