<head>
<link rel="stylesheet" href="../src/styles/upcoming.css" />
<script src="/src/pages/api/upc_buttonSelect.js" defer></script>
</head>
<div class="rl-container">
  <div class="coming-soon-container" data-translate="cs">N/A</div>
  <div class="tech-details-container">
    <p data-translate="td">N/A</p>
    <p data-translate="td1">N/A</p>
    <p data-translate="td2">N/A</p>
  </div>
</div>

<div class="rr-container">
  <div class="image-container">
    <button class="arrow-container left-arrow">
      <img src="./src/assets/img/arrowp.svg" alt="Flecha izquierda" class="arrow-icon" />
    </button>
    <div class="image-scroll-container">
      <div class="image-content active">
        <img src="./src/assets/img/placeholder.svg" alt="News1" />
      </div>
      <div class="image-content">
        <img src="./src/assets/img/placeholder.svg" alt="News2" />
      </div>
      <div class="image-content">
        <img src="./src/assets/img/placeholder.svg" alt="News3" />
      </div>
    </div>
    <button class="arrow-container right-arrow">
      <img src="./src/assets/img/arrowp.svg" alt="Flecha derecha" class="arrow-icon" />
    </button>
  </div>
  <div class="content-container">
    <button class="circle-button active" id="button1"></button>
    <button class="circle-button" id="button2"></button>
    <button class="circle-button" id="button3"></button>
  </div>
</div>