<link rel="stylesheet" href="./src/styles/upcoming.css"/>
<script src="./src/js/themeToggle.js" defer></script>
<script src="./src/js/buttonSelect.js" defer></script>
<div class="right-container">
    <div class="rl-container">
        <div class="coming-soon-container">COMING SOON///</div>
        <div class="tech-details-container">
            <br>Lorem ipsum dolor sit amet. Et fugit voluptas sed amet enim ut eaque vitae et quia deserunt eum reprehenderit quisquam non enim rerum. Est animi veritatis est fugit dolore ex repellat quam ut molestiae quam aut assumenda dolores! Eum delectus similique hic odio dolorem sit ratione omnis cum aliquam corporis. </p><p>Qui enim quibusdam in perferendis modi ut temporibus dolor et sequi velit vel ipsum incidunt sit beatae omnis. Est accusantium molestiae non quod maxime et voluptas modi 33 asperiores sequi. </p><p>Sit molestias debitis vel dolorem repellat qui autem quaerat ut commodi voluptatem et labore illum est laudantium possimus et corrupti nobis. Qui aspernatur dicta est blanditiis iste ut sint provident qui officiis voluptas est natus consequuntur sed vero quia. Ut voluptates suscipit ut tenetur delectus qui saepe galisum sit voluptatum internos et eaque reiciendis. Ut veniam maxime et enim earum est rerum officiis. 
        </div>
    </div>
    <div class="rr-container">
        <div class="image-container">
            <button class="arrow-container left-arrow">
                <img src="./src/assets/arrowp.svg" alt="Flecha izquierda" class="arrow-icon">
            </button>
            <div class="image-content">
                <img id="theme-image" src="./src/assets/img/thumbB.svg" alt="newspaper">
            </div>
            <button class="arrow-container right-arrow">
                <img src="./src/assets/arrowp.svg" alt="Flecha derecha" class="arrow-icon">
            </button>
        </div>
        <div class="content-container">
            <button class="circle-button active" id="button1"></button>
            <button class="circle-button" id="button2"></button>
            <button class="circle-button" id="button3"></button>
        </div>
    </div>
</div>