.section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 2rem;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  background-color: #f0faf8;
  margin-left: 90px;
}

.section-content h1 {
  color: #70a298; /* Primary color */
  margin-bottom: 1rem;
  font-size: 3rem;
}

.section-content p {
  color: #2d2d2d; /* Dark gray text */
  line-height: 1.6;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  max-width: 600px;
  text-align: center;
  transition: color 0.3s ease;
}

/* Dark Mode Styles */
#root.dark-mode .section-content {
  background-color: #1a2623;
}

#root.dark-mode .section-content h1 {
  color: #5bb3a1; /* Lighter primary color for dark mode */
}

#root.dark-mode .section-content p {
  color: #d0d0d0; /* Light gray text for dark mode */
}