.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fbfbfe; /* Very light blue-gray background */
  padding: 20px;
  text-align: center;
  border-top: 1px solid #81c8ba; /* Accent color border */
}

.contact-info h3 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: #2d2d2d;
}

.contact-info hr {
  border: none;
  height: 5px;
  width: 15%;
  background-color: #81c8ba; /* Accent color */
  margin-bottom: 20px;
  border-radius: 50px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
}

.social-icons a {
  color: #2d2d2d;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #81c8ba; /* Accent color */
}

.copyright {
  font-size: 0.9em;
  color: #2d2d2d;
}