.section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 2rem;
  box-sizing: border-box;
}

.section-content h1 {
  color: #70a298; /* Primary color */
  margin-bottom: 1rem;
  font-size: 3rem;
}

.section-content p {
  color: #2d2d2d; /* Dark gray text */
  line-height: 1.6;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  max-width: 600px;
}

.tech-stack h3 {
  color: #81c8ba; /* Accent color */
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.tech-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.tech-icons span {
  background-color: #a4cec6; /* Secondary color */
  color: #2d2d2d; /* Dark gray text */
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: 1px solid #81c8ba; /* Accent color border */
  font-size: 1rem;
}