.section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 2rem;
  box-sizing: border-box;
  background-color: #fbfbfe;
  margin-left: 90px;
}

.section-content h1 {
  color: #70a298; /* Primary color */
  margin-bottom: 1rem;
  font-size: 3rem;
}

.section-content p {
  color: #2d2d2d; /* Dark gray text */
  line-height: 1.6;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  max-width: 600px;
}

.tech-stack h3 {
  color: #81c8ba; /* Accent color */
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.tech-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.tech-icons span {
  background-color: #a4cec6; /* Secondary color */
  color: #2d2d2d; /* Dark gray text */
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: 1px solid #81c8ba; /* Accent color border */
  font-size: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

/* Dark Mode Styles */
#root.dark-mode .section-content {
  background-color: #0d0d0d;
}

#root.dark-mode .section-content h1 {
  color: #5bb3a1; /* Lighter primary color for dark mode */
}

#root.dark-mode .section-content p {
  color: #d0d0d0; /* Light gray text for dark mode */
}

#root.dark-mode .tech-stack h3 {
  color: #6bb3a5; /* Lighter accent color for dark mode */
}

#root.dark-mode .tech-icons span {
  background-color: #2a5a52; /* Darker secondary color */
  color: #d0d0d0; /* Light gray text */
  border-color: #5bb3a1; /* Lighter accent border */
}