<!DOCTYPE html>
<html lang="es">
    <link rel="stylesheet" href="./src/styles/header.css"/>
    <script src="./src/js/themeToggle.js" defer></script>

    <div class="topnav">
        <img id="favicon" src="/faviconb.svg" alt="Logo" class="logo" />
        <button id="change-palette" class="button">CHANGE PALETTE</button>
        <div class="nav-links">
            <a href="/src/pages/index.astro" class="nav-link">HOME</a>
            <a href="/src/pages/works.astro" class="nav-link">WORKS</a>
            <a href="/src/pages/about.astro" class="nav-link">ABOUT ME</a>
        </div>
    </div>
</html>