<head>
<link rel="stylesheet" href="./src/styles/social.css"/>
</head>
<div class="follow-container">
    <div class="socials-icons">
        <div class="socials-text">
            <span data-translate="socialText">N/A</span><br>
            <span id="copy">2025 ALEJANDRO RODRÍGUEZ RODRÍGUEZ</span>
        </div>
        <a href="https://www.linkedin.com/in/alejandro-rodriguez-b49932343/" target="_blank">
            <img src="./src/assets/img/linkedin.svg" alt="LinkedIn" class="social-icon" /></a>
        <a href="https://www.instagram.com/Arodriguez.rr/" target="_blank">
            <img src="./src/assets/img/instagram.svg" alt="Instagram" class="social-icon" /></a>
        <a href="https://github.com/alerodrod8" target="_blank">
            <img src="./src/assets/img/github.svg" alt="GitHub" class="social-icon" /></a>
    </div>
</div>